<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>BLYNC - Selamat Datang</title>
  <link rel="stylesheet" href="/static/menu.css" />
</head>
<body>
  <div class="menu-container">
    <div class="menu-box">
      <a href="/tutorial/huruf">Tutorial Huruf</a>
    </div>
    <div class="menu-box">
      <a href="/tutorial/angka">Tutorial Angka</a>
    </div>
    <div class="menu-box">
      <a href="/tutorial/tanda">Tutorial Tanda Baca</a>
    </div>
  </div>

  <script src="/static/menu.js?v=2"></script>

</body>
</html>
